@{
    ViewData["Title"] = "Destination";
}






<section class="grids-1 py-5">
    <div class="grids py-lg-5 py-md-4">
        <div class="container">
            <h3 class="hny-title mb-5">Destinations</h3>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/255854447.jpg?k=ef01ba3e9c190c9eda94aae535058716cf28d9903ec83b748e889913f3fdd04e&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights </p>
                            <div class="dst-btm">
                                <h6 class="">Start From </h6>
                                <span>2k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-md-0">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1024x768/239946673.jpg?k=cdbe4435a55217f41c2d20f6009707e2c61705c70e150e94f0ea35554636077c&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights </p>
                            <div class="dst-btm">
                                <h6 class="">Start From </h6>
                                <span>3k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-md-0 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/178421496.jpg?k=93ce7f8db9886a1aa02768806958b9cf1d1fa18cacf46f3d7aa00581b64045cd&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights </p>
                            <div class="dst-btm">
                                <h6 class="">Start From </h6>
                                <span>1k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/261566046.jpg?k=4cfe859b080369303ee8124fece054c1012ff0e1b7a2850c7aa462a3f0827ba1&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights</p>
                            <div class="dst-btm">
                                <h6 class=""> Start From </h6>
                                <span>2k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/299313749.jpg?k=c4f37963bcfb7c0476ad7b8cbca3c1c4f18c95e0769768730d29a225ff5a1f73&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                           
                            <p>3Days, 4 Nights</p>
                            <div class="dst-btm">
                                <h6 class=""> Start From </h6>
                                <span>1k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/109319008.jpg?k=6a0a505eeb98986d5a1c2f8ed23ffe386a213a241daee318a1ae3b116f40d0e8&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights</p>
                            <div class="dst-btm">
                                <h6 class=""> Start From </h6>
                                <span>2k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/187853972.jpg?k=ef023a932afffc69acbb2db904ceb2c6827bf8d1f24bd6cef3ec3505eddae7c2&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights</p>
                            <div class="dst-btm">
                                <h6 class=""> Start From </h6>
                                <span>3k</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/154543781.jpg?k=868ff54aa25ef6a79bf336d10a70cbb0460e9200740fc7686e3f5b050bd41af0&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>3Days, 4 Nights</p>
                            <div class="dst-btm">
                                <h6 class=""> Start From </h6>
                                <span>1K</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6 mt-lg-5 mt-4">
                    <div class="column">
                        <a href="#"><img src="https://cf2.bstatic.com/xdata/images/hotel/max1280x900/126764303.jpg?k=f02d7dfd34037256513db34050af45f402736bfa3411fd9e1ac9dc58dc1869d3&o=&hp=1" alt="" class="img-fluid"></a>
                        <div class="info">
                            
                            <p>5Days, 6 Nights</p>
                            <div class="dst-btm">
                                <h6 class=""> Start From </h6>
                                <span>5K</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>