@model CommonModel.Module.BookingModel;
@{
    ViewData["Title"] = "UpdateBookingDetails";
}



<div class="main-content m-5 text-center ">
    <h1 class="m-5">Update Flight Booking Details</h1>


    <!---Form-->

    <form asp-controller="Home" asp-action="Index" formaction="post">
        <input type="hidden" asp-for="FlightId" />
        <div class="form-row">
            <div class="form-group col-md-2">
                <select asp-for="DepartureCity" class="form-control" style="cursor:pointer">
                    <option value="" selected disabled hidden>Flying Where?</option>
                    <option value="Lahore">Lahore, Pakistan</option>
                    <option value="Islamabad">Islamabad, Pakistan</option>
                    <option value="Karachi">Karachi, Pakistan</option>
                    <option value="Multan">Multan, Pakistan</option>
                </select>
                <span asp-validation-for="DepartureCity" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <select asp-for="ArrivalCity" class="form-control" style="cursor:pointer">
                    <option value="" selected disabled hidden>Where to?</option>
                    <option value="Madinah">Madinah, Saudi Arabia</option>
                    <option value="Jeddah">Jeddah, Saudi Arabia</option>
                    <option value="Toronto">Toronto, Canada</option>
                    <option value="New York">New York, United States</option>
                </select>
                <span asp-validation-for="ArrivalCity" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <input asp-for="DepartureTime" class="form-control" type="date" />
                <span asp-validation-for="DepartureTime" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <input asp-for="ArrivalTime" class="form-control" type="date" />
                <span asp-validation-for="ArrivalTime" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <select asp-for="Class" class="form-control" style="cursor:pointer">
                    <option value="" selected disabled hidden>Class</option>
                    <option value="Economy">Economy</option>
                    <option value="Premium">Premium Economy</option>
                    <option value="Business">Business</option>
                </select>
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center">
                <button type="submit" id="search" class="btn btn-primary w-100">Update Booking</button>
            </div>
        </div>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }



</div>

